<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<h1>Продукты</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Наименование</th>
        <th>Стоимость</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <tr th:each="p : ${productsByCost}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.title}"></td>
        <td th:text="${p.cost}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>